<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="drpaj.css" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="footer.css" />
    <title>Home Page</title>
</head>

<body>

    <nav>
        <ul>
            <li class="name">Computer Information Systems</li>
        </ul>
    </nav>
    <header id="NAVBAR"></header>

    <div id="main-services-body">

        <div class="general-container-service-page">

            <div class="card-service-page">
                <a href="styler.html"></a>
                <img class="service-card-images"
                     src="emp_yousef.jpeg" />
                <div class="card-overlay">
                    <div class="title">
                        <h3>Dr.YOUSEF KILANI</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            Name :YOUSEF MOH'D AHMAD KILANI<br><br>
                            Rank :Professor<br><br>
                            Office :IT-229<br><br>
                            E-Mail :ymkilani@hu.edu.jo<br><br>
                            Major :Computer Science<br><br>
                        </p>
                    </div>
                </div>
            </div>


            <div class="card-service-page">
                <a href="styler.html"></a>
                <img class="service-card-images"
                     src="images/dr.mutaz.jpg" />
                <div class="card-overlay">
                    <div class="title">
                        <h3>Dr.Mo’taz Al-hami</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            Name :MO'TAZ ABDUL AZIZ ALI AL-HAMI<br><br>
                            Rank :Associate Professor/ B<br><br>
                            Office :IT-121<br><br>
                            E-Mail :motaz@hu.edu.jo<br><br>
                            Major :Computer Science<br><br>
                        </p>
                    </div>
                </div>
            </div>


            <div class="card-service-page">
                <a href="styler.html"></a>
                <img class="service-card-images"
                     src="emp_images_subhieh.jpg" />
                <div class="card-overlay">
                    <div class="title">
                        <h3>
                            Dr.SUBHIEH ELSALHI
                        </h3>
                    </div>
                    <div class="card-body">
                        <p>
                            Name :SUBHIEH MOH'D FARAJ S. ELSALHI
                            <br><br>
                            Rank :Professor<br><br>
                            Office :IT-227<br><br>
                            E-Mail :subhieh@hu.edu.jo
                            <br><br>
                            Major :	Artificial Intelligence<br><br>
                        </p>
                    </div>
                </div>
            </div>


            <div class="card-service-page">
                <a href="styler.html"></a>
                <img class="service-card-images"
                     src="images/dr.mohammed.jpg" />
                <div class="card-overlay">
                    <div class="title">
                        <h3>Dr.Mohamad Kharabshe</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            Name :MOHAMMAD KAMEL AHMAD KHARABSHEH<br><br>
                            Rank :Associate Professor/ B<br><br>
                            Office :IT-042<br><br>
                            E-Mail :mohkh@hu.edu.jo<br><br>
                            Major :Computer Science<br><br>
                        </p>
                    </div>
                </div>
            </div>


            <div class="card-service-page">
                <a href="book.html"></a>
                <img class="service-card-images"
                     src="emp_images_feras.jpg" />
                <div class="card-overlay">
                    <div class="title">
                        <h3>
                            Dr.FERAS HANANDEH
                        </h3>
                    </div>
                    <div class="card-body">
                        <p>
                            Name :FERAS AHMAD HAMID HANANDEH
                            <br><br>
                            Rank :Professor<br><br>
                            Office :IT-243<br><br>
                            E-Mail :feras@hu.edu.jo<br><br>
                            Major :Computer Science<br><br>
                        </p>
                    </div>
                </div>
            </div>


            <div class="card-service-page">
                <a href="styler.html"></a>
                <img class="service-card-images"
                     src="emp_images_fayrooz.jpg" />
                <div class="card-overlay">
                    <div class="title">
                        <h3>
                            Dr.FAIROUZ HUSSEIN
                        </h3>
                    </div>
                    <div class="card-body">
                        <p>
                            Name :FAIROUZ FAROUQ FAYIZ HUSSEIN
                            <br><br>Rank :Professor<br><br>
                            Office :IT-228<br><br>
                            E-Mail :fairouzf@hu.edu.jo
                            <br><br>
                            Major :Computer Science<br><br>
                        </p>
                    </div>
                </div>
            </div>


            <div class="card-service-page">
                <a href="styler.html"></a>
                <img class="service-card-images"
                     src="emp_images_randa.jpg" />
                <div class="card-overlay">
                    <div class="title">
                        <h3>
                            Dr.RANDA OBEIDALLAH
                        </h3>
                    </div>
                    <div class="card-body">
                        <p>
                            Name :RANDA ALI MOHAMMAD OBEIDALLAH
                            <br><br> Rank :Lecturer / A<br><br>
                            Office :IT-231	<br><br>
                            E-Mail :Randa.ali@hu.edu.jo
                            <br><br>
                            Major :Computer Science
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>